{
    "printWidth": 100,
    "trailingComma": "all",
    "singleQuote": false,
    "semi": true,
    "tabWidth": 4,
    "quoteProps": "consistent",
    "overrides": [{ "files": "**/*.ts", "options": { "printWidth": 80 } }]
}
