@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

html {
    scroll-behavior: smooth !important;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.embla {
    overflow: hidden;
}

.embla__container {
    display: flex;
}

.embla__slide {
    flex: 0 0 80%;
    min-width: 0;
    margin-right: 15px;
}

@media (min-width: 1024px) {
    .embla__slide {
        flex: 0 0 40%;
    }
}
